// COLORS
$primary-white-color: #ffffff;
$primary-accent-color: #fce38a;
$primary-red-color: #f38181;
$primary-blue-color: #95e1d3;
$secondary-white-color: #e5e5e5;

$btn-bg-color: #95e1d3;
$btn-broder-color: #e5e5e5;

// FONTS
$primary-font: 'Montserrat', 'Arial', sans-serif;
$primary-special-font: 'Kaushan Script', 'Montserrat', sans-serif;
$secondary-font: 'Roboto', 'Arial', sans-serif;

// TEXT
$primary-text-color: #333333;
$secondary-text-color: #999999;
