.header-content {
  color: $primary-white-color;
  text-align: center;
  width: 820px;
  margin: 0 auto;
  padding-bottom: 230px;

  &__title {
    font-family: $primary-special-font;
    font-weight: 400;
    font-size: 72px;

    &--large {
      display: block;
      font-family: $primary-font;
      font-weight: 700;
      font-size: 150px;
      line-height: 140px;
      margin: 0;
      padding: 0;
    }
  }

  &__link {
    font-family: $primary-font;
    font-weight: 700;
    border: 2px solid $primary-white-color;
    width: 162px;
    line-height: 40px;
    margin: 0 auto;
  }
}
